{% load static %}
    <!-- ==== footer section start ==== -->
    <footer class="footer pos__rel over__hi">
        <div class="container">

            <div class="footer__area section__space">
                <div class="row">
                    <div class="col-md-12 col-lg-4 col-xl-4">
                        <div class="footer__intro">
                            <a href="index.html">
                                <img src="{% static 'template/images/logo-light.png' %}" alt="Revest" class="logo" />
                            </a>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است

                            </p>
                            <div class="social">
                                <a href="javascript:void(0)">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="javascript:void(0)">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                                <a href="javascript:void(0)">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                                <a href="javascript:void(0)">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2">
                        <div class="footer__links footer__links--alt">
                            <h5>صفحات مهم</h5>
                            <ul>
                                <li>
                                    <a href="about-us.html">درباره آنتن</a>
                                </li>
                                <li>
                                    <a href="career.html">نمونه کارها</a>
                                </li>
                                <li>
                                    <a href="blog.html">وبلاگ</a>
                                </li>
                                <li>
                                    <a href="contact-us.html">تماس باما</a>
                                </li>
                                <li class="neutral-bottom">
                                    <a href="affiliate-program.html">همکاری</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-lg-2 col-xl-2">
                        <div class="footer__links footer__links--alt">
                            <h5>بخش ها</h5>
                            <ul>
                                <li>
                                    <a href="properties.html">بیلبورد ها</a>
                                </li>
                                <li>
                                    <a href="how-it-works.html">جستجو</a>
                                </li>
                                <li>
                                    <a href="loan-application.html">سوالات متداول</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                                 </div>
                </div>
            </div>
            <div class="footer__credit">
                <div class="row d-flex align-items-center">
                    <div class="col-sm-9 order-1 order-sm-0">
                        <div class="footer__copyright">
                            <p>طراحی با عشق توسط <a
                                    href="../../../https@themeforest.net/user/pixelaxis">Akira</a></p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="footer__animation">
            <img src="{% static 'template/images/footer/footer__left__circle.png' %}" alt="Circle" class="left__circle" />
            <img src="{% static 'template/images/footer/footer__right__circle.png' %}" alt="Circle" class="right__circle" />
            <img src="{% static 'template/images/footer/footer__home___illustration.png' %}" alt="Home" class="home__illustration" />
        </div>
    </footer>
    <!-- ==== #footer section end ==== -->

    <!-- Scroll To Top -->
    <a href="javascript:void(0)" class="scrollToTop">
        <i class="fa-solid fa-angles-up"></i>
    </a>