{% extends 'template/home/base_body.html' %}
{% load static %}
{% load change_bool_value %}
{% block content %}
<!-- ==== hero section start ==== -->
    <section class="hero pos__rel over__hi bg__img" data-background="./assets/images/hero/light-bg.png">
        <div class="container">
            <div class="hero__area">
                <div class="row">
                    <div class="col-lg-6 col-xxl-5">
                        <div class="hero__content">
                            <h5 class="neutral-top">روشی هوشمندانه و بهتر برای  تبلیغات</h5>
                            <h1>سرمایه گذاری در بیلبورد برای <span>همه</span> </h1>
                            <p class="primary neutral-bottom">
                                سهام املاک اجاره ای را بخرید، درآمد ماهانه کسب کنید و رشد پول خود را تماشا کنید
                            </p>
                            <div class="hero__cta__group">
                                <a href="{%url 'billboard-list' %}" class="button button--effect">مشاهده بیلبوردها</a>
                                <a href="business-loan.html" class="button button--secondary button--effect">یافتن بیلبورد</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xxl-6 offset-xxl-1">
                        <div class="hero__illustration d-none d-lg-block">
                            <img src="{% static 'template/images/hero/hero-illustration.png' %}" alt="Hero Illustration" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==== #hero section end ==== -->

    <!-- ==== property filter start ==== -->
    <div class="property__filter">
        <div class="container">
            <div class="property__filter__area">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-12 col-xl-6">
                        <div class="property__search__wrapper">
                            <form action="#" method="post">
                                <div class="input">
                                    <input type="search" name="property__search" id="propertySearch"
                                        placeholder="عنوان بیلبورد" />
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </div>
                                <button type="submit" class="button button--effect">جستجو</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="property__select__wrapper">
                            <select class="location__select">
                                <option data-display="انتخاب شهر">انتخاب شهر</option>
                                <option value="angeles">سبزوار</option>
                                <option value="francis">مشهد</option>
                                <option value="weldon">نیشابور</option>
                                <option value="diego">تهران</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-3">
                        <div class="property__select__wrapper">
                            <select class="property__select">
                                <option data-display="وضعیت بیلبورد">وضعیت بیلبورد</option>
                                <option value="commercial">اجاره شده</option>
                                <option value="residential">قابل اجاره</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ==== #property filter end ==== -->
    <!-- ==== all properties in grid section start ==== -->
    <section class="properties__grid section__space">
        <div class="container">
            <div class="properties__grid__area wow fadeInUp">
                <div class="title__with__cta">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-12">
                            <h2>جدیدترین بیلبوردها</h2>
                        </div>

                    </div>
                </div>
                <div class="property__grid__wrapper">
                    <div class="row">
                    {% for billboard in queryset %}
                        <div class="col-lg-4 col-xl-4">
                            <div class="property__grid__single">
                                <div class="img__effect">
                                    <a href="{{ billboard.get_absolute_url }}">
                                        <img src="{{ billboard.billboard_pic_url }}" alt="{{ billboard.name }}" />
                                    </a>
                                </div>
                                <div class="property__grid__single__inner">
                                    <h4>{{ billboard.name}}</h4>
                                    <p class="sub__info"><i class="fa-solid fa-location-dot"></i>
                                    {{ billboard.address }}
                                    </p>

                                    <div class="item__info">
                                        <div class="item__info__single">
                                            <p>روشنایی</p>
                                            <h6>{{ billboard.has_power|boolean_value }}</h6>
                                        </div>
                                        <div class="item__info__single">
                                            <p>قابل اجاره در</p>
                                            <h6>{{ billboard.reservation_date }}</h6>
                                        </div>
                                    </div>
                                    <div class="invest__cta__wrapper">

                                        <div class="invest__cta">
                                            <a href="{{ billboard.get_absolute_url }}" class="button button--effect">
                                                مشاهده بیشتر
                                            </a>
                                        </div>
                                        <div class="invest__cta ">
                                            <a href="{% url 'add-to-list' billboard.pk %}" class="button button--effect button-add-list">
                                                افزودن به لیست
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}


                    </div>
                </div>


                <div class="col-12 more-btn">
                    <div class="text-center">
                     <a href="{%url 'billboard-list' %}" class="button button--secondary button--effect">مشاهده همه</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==== #all properties in grid section end ==== -->

    <!-- ==== profit overview section start ==== -->
    <section class="profit section__space">
        <div class="container">
            <div class="profit__area wow fadeInUp">
                <div class="section__header">
                    <h5 class="neutral-top">پلتفرمی برای تبلیغات هوشمند</h5>
                    <h2>
                        ما کارهای سنگین را انجام می دهیم تا شما بتوانید آرام بنشیند، استراحت کند و سود ببرد.
                    </h2>
                    <p class="neutral-bottom">
                        ما املاک و مستغلات با کیفیت نهادی را در دسترس سرمایه گذاران قرار می دهیم ساده و با روش شفاف
                    </p>
                </div>
                <div class="profit__item__wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="profit__single__item alt shadow__effect">
                                <div class="img__box">
                                    <img src="{% static 'template/images/overview/passive-income.png' %}" alt="Passive Income" />
                                </div>
                                <div class="item__content">
                                    <h4>درآمد فعال</h4>
                                    <p>کسب درآمد از اجاره و دریافت سپرده به صورت فصلیر</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profit__single__item shadow__effect">
                                <div class="img__box">
                                    <img src="{% static 'template/images/overview/secure.png' %}" alt="secure" />
                                </div>
                                <div class="item__content">
                                    <h4>امن و مقرون به صرفه</h4>
                                    <p>امنیت دیجیتال از نظر قانونی برای سرمایه گذاران واقعی </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="profit__item__wrapper">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="profit__single__item alt shadow__effect">
                                <div class="img__box">
                                    <img src="{% static 'template/images/overview/transparency.png' %}" alt="Transparency" />
                                </div>
                                <div class="item__content">
                                    <h4>شفافیت</h4>
                                    <p>به راحتی با اسناد کامل برای هر ملک مشورت کنید</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="profit__single__item shadow__effect">
                                <div class="img__box">
                                    <img src="{% static 'template/images/overview/support.png' %}" alt="Support" />
                                </div>
                                <div class="item__content">
                                    <h4>پشتیبانی</h4>
                                    <p>کسب درآمد از اجاره و دریافت سپرده به صورت فصلی</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==== #profit overview section end ==== -->

    <!-- ==== numbers section start ==== -->
    <section class="numbers section__space bg__img" data-background="./assets/images/globe.png">
        <div class="container">
            <div class="numbers__area wow fadeInUp">
                <div class="row d-flex align-items-center">
                    <div class="col-lg-6">
                        <div class="content column__space">
                            <h5 class="neutral-top">با ما مطمئن سرمایه گذاری کنید!</h5>
                            <h2>اعداد بهتر از کلمات حرف میزنند</h2>
                            <p>
                                حداقل های پایین ما به شما انعطاف پذیری می دهد تا مقدار مناسب و در زمان مناسب را سرمایه گذاری کنید. برای رسیدن به اهداف خود
                            </p>
                            <a href="{%url 'billboard-list' %}" class="button button--effect">جستجو بیلبورد</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row d-flex align-items-start align-items-lg-center">
                            <div class="col-sm-6">
                                <div class="numbers__single shadow__effect">
                                    <img src="{% static 'template/images/platforms.png' %}" alt="platform" />
                                    <h3><span class="counter">3000</span>+</h3>
                                    <p class="neutral-bottom">سرمایه گذار فعال</p>
                                </div>
                                <div class="numbers__single shadow__effect__secondary">
                                    <img src="{% static 'template/images/returns.png' %}" alt="Returns" />
                                    <h3><span class="counter">18</span>%</h3>
                                    <p class="neutral-bottom">بازگشت سرمایه</p>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="numbers__single alt shadow__effect__secondary">
                                    <img src="{% static 'template/images/experience.png' %}" alt="Experience" />
                                    <h3 class="counter">10</h3>
                                    <p class="neutral-bottom">سال تجربه</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==== #numbers section end ==== -->
{% endblock %}


{% block script %}
{% include 'template/home/add_list_ajax.html' %}
{% endblock %}