{% extends  'template/home/base.html' %}
{% load static %}

{% block body %}
    {% block admin_bar %}
        {% include 'template/home/include/admin_bar.html' %}
    {% endblock %}
    {% block header %}
        {% include  'template/home/header.html' %}
    {% endblock %}

    <main class="{% if request.user.is_authenticated and request.user.is_staff %}pt-[35px]{% endif %}">
        {% block content %}

        {% endblock %}
    </main>

    {% block footer %}
        {% include  'template/home/footer.html' %}
    {% endblock %}

{% endblock %}